<p>
  <p>
    <b>&emsp;Start time:</b>
    <%= time_frame.start_time %>
  </p>
 
  <p>
    <b>&emsp;End time:</b>
    <%= time_frame.end_time %>
  </p>

  <p>
    <b>&emsp;Tier:</b>
    <%= time_frame.tier %>
  </p>
</p>
