<p id="notice"><%= notice %></p>

<h1>Polls</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<%= paginate @polls %>
<tbody>
<%= render @polls %>
</tbody>
<% paginate @polls%>


</table>

<br>

<%= link_to 'New Poll', new_poll_path %>
